

        <!DOCTYPE html>
        <html lang="en" id="all_html">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css">

            
        </head>
            



        
        



            <body style="width: 100%; height: 100%;">




                <div id="all_body">

                    {% block content %}
                    {% endblock %}
                </div>


            </body>
            
        </html>


