

.nav{
    width: 100%;
    height: 37px;
    position: fixed;
    /* margin-top: 50px; */
    z-index: 1000;
}

.contents{
    width: 100%;
    min-height: calc(100vh);
}

.inner_nav{
    /* background-color: pink; */
    height: 37px;
}

.logo{
    width: 200px;
    height: 100%;
}

.contain-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cover-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-contents{
    display: flex;
}

.nav-items-container{
    /* background-color: tomato; */
    width: calc(100% - 200px);
}

.nav-links{
    /* background-color: mediumvioletred; */
    width: 460px;
}

.nav-fill{
    width: calc(100% - 460px);
    height: 37px;
}


.cj-nav-link{
    color: #072a9c;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 5px;

    animation: fadeToNormalLink 1s;
    }

    @keyframes fadeToNormalLink {
        0%{
            color: #ff3300;
        }
        100%{
            color: #072a9c;
        }
    }

.active-link{
    color: #dd0707;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 5px;
}

.cj-nav-link:hover{
    color: #ff3300;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 5px;

    animation: highlightLink 1s;
    }
    @keyframes highlightLink {
        0%{
            color: #072a9c;
        }
        100%{
            color: #ff3300;
        }
    }

.inner-nav{
    margin-top: 15px;
}

.inner-nav-link{
    color: #072a9c;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 5px;
    font-size: 21px;

    animation: fadeToNormalLink 1s;
    }

    @keyframes fadeToNormalLink {
        0%{
            color: #ff3300;
        }
        100%{
            color: #072a9c;
        }
    }

.inner-nav-link:hover{
    color: #ff3300;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 5px;
    font-size: 21px;

    animation: highlightLink 1s;
    }
    @keyframes highlightLink {
        0%{
            color: #072a9c;
        }
        100%{
            color: #ff3300;
        }
    }
    
.inner-active-link{
    color: #dd0707;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 5px;
    font-size: 21px;
}


.blue-accent-bg{
    background: linear-gradient(90deg, #ffffff00, #a89fc033, #1e3e7967, #05228379, #2744a362, #f0f0f065, #3a559565, #3a559500);
    background-size: 130%;
    animation: bgMarquee 25s linear infinite ;
    }
    @keyframes bgMarquee{
        0%{background-position-x: 0%;}
        25%{background-position-x: 110%;}
        50%{background-position-x: 0%;}
        75%{background-position-x: -110%;}
        100%{background-position-x: 0%;}
    }

.blue-accent-login{
    background: linear-gradient(90deg, #ffffff00, #fffdfd3b, #0522831f, #b1c1ff4f,  #ffffff98, #3a559500);
    background-size: 230%;
    animation: bgMarquee 25s linear infinite ;
    }
    @keyframes bgMarquee{
        0%{background-position-x: 0%;}
        25%{background-position-x: 110%;}
        50%{background-position-x: 0%;}
        75%{background-position-x: -110%;}
        100%{background-position-x: 0%;}
    }

.orange-accent-bg{
    background: linear-gradient(90deg, #ffffff33, #c0a89f33, #79331e67, #83330579, #a3542762, #f0f0f065, #95543a65, #955e3a00);
    background-size: 180%;
    animation: bgMarquee 25s linear infinite ;
    }
    @keyframes bgMarquee{
        0%{background-position-x: 0%;}
        25%{background-position-x: 110%;}
        50%{background-position-x: 0%;}
        75%{background-position-x: -110%;}
        100%{background-position-x: 0%;}
    }

.profile-avatar{
    width: 55px;
    height: 37px;
}

.profile-bounds{
    width: 100%;
    height: 69px;
    margin-top: -32px;
    overflow: hidden;
}

.profile-image{
    width: 100%;
    height: 100px;
}

.footer{
    margin-top: -18px;
    height: 18px;
    width: 100%;
    text-align: center;
    font-size: 11.5px;
    color: #072a9c;
    z-index: 1000;
    position: relative;

}

.footer a{
    text-decoration: none;
}


/* map stuff */
#map {
    /* margin-top: 100px; */
    height: calc(100vh + 10px + 55px);
    background-color: aliceblue;
}

.map-container{
    height: calc(100vh - 57px + 55px);
    overflow: hidden;
}

.map-frame{
    margin-bottom: -20px;
    z-index: 10px;
}

.info-pannel{
    position: absolute;
    margin-top: -100px;
    padding-left: 10px;

    width: 260px;
    height: 65px;

    z-index: 1000;
    border-radius: 0px 5px 5px 0px;

    background: linear-gradient(90deg, #77777700, #80939c65, #adadad52, #5c638b2f, #77777700);
    background-size: 800px;
    animation: bgMarqueeCorner 20s linear infinite ;
    }
    @keyframes bgMarqueeCorner{
        0%{background-position-x: 0%;}
        25%{background-position-x: 100%;}
        50%{background-position-x: 0%;}
        75%{background-position-x: -100%;}
        100%{background-position-x: 0%;}
    }

.info-pannel{
    font-size: 13.5px;
    font-weight: 450;
}

.text-pannel{
    width: 200px;
    overflow: hidden;
}

.action-pannel{
    width: calc(100% - 200px);
    background-color: #9198b1;
    border-radius: 0px 5px 5px 0px;
}

.detail-left{
    width: 85px;
}

.main-content-container{
    padding-top: 80px;
}

.col-title{
    text-align: center;
    font-size: 20px;
    color: #384672;
    margin-top: 205px;
}

.col-boxes{
    margin-left: -10px;
}
.page-contents {
    margin: auto;
    width: 100%;
    max-width: 1500px;
    padding-top: 50px;
}

.my-awesome-modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    position: absolute;
    overflow: scroll;
    height: 80vh;
    width: 80vw;
    background-color: #d6d4d4;
    left: calc(50vw - 40vw);
    top: calc(50vh - 40vh);

    animation: wide-expand 1.2s ease;
    }

    @keyframes wide-expand {
        0% {
            height: 3px;
            background-color: darkblue;
            width: 0vw;
            left: calc(50vw - 0vw);
            top: calc(50vh - 0vh);
        }

        50% {
            height: 1px;
            width: 80vw;
            left: calc(50vw - 40vw);
            top: calc(50vh - 0vh);
        }

        100% {
            height: 80vh;
            width: 80vw;
            left: calc(50vw - 40vw);
            top: calc(50vh - 40vh);
        }
    }

.celray-login-modal-open {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    position: absolute;
    height: 200px;
    width: 400px;
    background-color: #d6d4d4;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);

    animation: login-expand 1.0s ease;
    }

    @keyframes login-expand {
        0% {
            height: 3px;
            background-color: darkblue;
            width: 0vw;
            top: calc(50vh - 0vh);
            left: calc(50vw - 0vw);
        }

        50% {
            height: 1px;
            width: 400px;
            top: calc(50vh - 0vh);
            left: calc(50vw - 200px);
        }

        100% {
            height: 200px;
            width: 400px;
            top: calc(50vh - 100px);
            left: calc(50vw - 200px);
        }
    }

.my-awesome-modal-closed {
    position: absolute;
    overflow: hidden;
    height: 0vh;
    width: 0vw;
    background-color: #d6d4d4;
    left: calc(0vw);
    top: calc(0vh);

    animation: wide-close 0.4s ease;
    }

    @keyframes wide-close {
        0% {
            height: 80vh;
            width: 80vw;
            left: calc(50vw - 40vw);
            top: calc(50vh - 40vh);
        }

        60% {
            height: 0px;
            width: 80vw;
            top: calc(50vh - 0vh);
            left: calc(50vw - 40vw);
            opacity: 1;
        }

        100% {
            height: 10vh;
            width: 80vw;
            top: calc(50vh - 5vh);
            left: calc(50vw - 40vw);
            opacity: 0;
        }

    }

.celray-login-modal-closed {
    position: absolute;
    overflow: hidden;
    height: 0vh;
    width: 0vw;
    background-color: #d6d4d4;
    left: calc(0vw);
    top: calc(0vh);

    animation: login-close 0.4s ease;
    }

    @keyframes login-close {
        0% {
            height: 200px;
            width: 400px;
            top: calc(50vh - 100px);
            left: calc(50vw - 200px);
        }

        60% {
            height: 0px;
            width: 400px;
            top: calc(50vh - 0px);
            left: calc(50vw - 200px);
            opacity: 1;
        }

        100% {
            height: 20px;
            width: 400px;
            top: calc(50vh - 10px);
            left: calc(50vw - 200px);
            opacity: 0;
        }

    }

.my-awesome-modal-closed {
    position: absolute;
    overflow: hidden;
    height: 0vh;
    width: 0vw;
    background-color: #d6d4d4;
    left: calc(0vw);
    top: calc(0vh);

    animation: wide-close 0.4s ease;
    }

    @keyframes wide-close {
        0% {
            height: 80vh;
            width: 80vw;
            left: calc(50vw - 40vw);
            top: calc(50vh - 40vh);
        }

        60% {
            height: 0px;
            width: 80vw;
            top: calc(50vh - 0vh);
            left: calc(50vw - 40vw);
            opacity: 1;
        }

        100% {
            height: 10vh;
            width: 80vw;
            top: calc(50vh - 5vh);
            left: calc(50vw - 40vw);
            opacity: 0;
        }

    }

.login-form-content-in{
    opacity: 1;
    animation: fade_in 2s;
    }

    @keyframes fade_in{
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

.login-form-content-out{
    opacity: 0;
    animation: fade_out 2s;
    }

    @keyframes fade_out{
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.3;
        }

        100% {
            opacity: 0;
        }
    }

.modal-content {

    opacity: 1;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 20px;
    width: calc(100% - 80px);
    max-height: calc(100% - 50px);
    /* background-color: transparent; */
    border-radius: 0px;
    border-color: transparent;

    animation: reveal-by-opacity 4s ease;
}



@keyframes reveal-by-opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.acrylic {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px); /* Safari */

    background-blend-mode: exclusion;
    background: rgba(255, 255, 255, .6);
}

.closer{
    width: 70px;
    height: 27px;
    border-radius: 0px 0px 0px 0px ;
}

.title-bar{
    padding-right: 10px;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
}




.profile-link {
    padding: 2px;
}

.profile-link a {
    text-decoration: none;
    color: #c03600;
}

.profile-link a:hover {
    text-decoration: underline;
    color: #0d2b53;
}


.login-profile-menu-open {
    height: 200px;
    opacity: 1;
    width: 150px;
    margin-left: -100px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    display: block;
    overflow: hidden;

    animation: profile_fade_in 0.5s ease;
    }

    @keyframes profile_fade_in {
        0% {
                height: 0px;
                opacity: 0;
           }
        100% {
                height: 200px;
                opacity: 1;
             }
    }

.login-profile-menu-closed {
    height: 0px;
    opacity: 0;
    width: 150px;
    margin-left: -100px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    display: block;
    overflow: hidden;

    animation: profile_fade_out 1s;
    }

    @keyframes profile_fade_out {
        0% {
                height: 200px;
                opacity: 1;
           }
        100% {
                height: 0px;
                opacity: 0;
             }
    }

.default-0h{
    height: 0px;
    overflow: hidden;
}